.review {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  padding: 2rem 2rem;
  justify-content: center;
  height: 400px;
  width: 300px;
  background-color: white;
  border-radius: 30px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.review-quote {
  position: absolute;
  top: -5%;
  right: 5%;
}
.review-avatar {
  padding: 1rem;
  align-items: center;
  background-color: #ffe6da;
  border-radius: 50px;
  margin-bottom: 1rem;
}
.review-avatar img {
  height: 100%;
  width: 60px;
}
.review-name {
  padding-bottom: 0.2rem;
}
.review-name h1 {
  font-family: var(--font-family);
  font-size: 20px;
  line-height: 28px;
  font-weight: 600;
  color: var(--secondary-color);
  text-align: center;
  padding: 0;
}
.review-designation p {
  font-family: var(--font-family);
  font-size: 14px;
  line-height: 22px;
  font-weight: 400;
  color: var(--light-text-color);
  text-align: center;
  padding: 0;
}
.review-stars {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.review-thought {
  display: flex;
  align-items: center;
}
.review-thought p {
  font-family: var(--font-family);
  font-size: 13px;
  line-height: 21px;
  font-weight: 400;
  color: var(--light-text-color);
  text-align: center;
  padding: 0;
}
@media screen and (max-width: 834px) {
  .review {
    height: 350px;
    width: 250px;
  }
  .review-avatar {
    padding: 0.8rem;
    margin-bottom: 0.8rem;
  }
  .review-avatar img {
    width: 50px;
  }
  .review-name h1 {
    font-family: var(--font-family);
    font-size: 16px;
    line-height: 24px;
  }
  .review-designation p {
    font-size: 10px;
    line-height: 18px;
  }
  .review-thought p {
    font-size: 9px;
    line-height: 17px;
  }
}
@media screen and (max-width: 725px) {
  .review {
    height: 300px;
    width: 200px;
  }
  .review-avatar {
    padding: 0.7rem;
    margin-bottom: 0.7rem;
  }
  .review-avatar img {
    width: 40px;
  }
  .review-name h1 {
    font-family: var(--font-family);
    font-size: 15px;
    line-height: 23px;
  }
  .review-designation p {
    font-size: 9px;
    line-height: 17px;
  }
  .review-thought p {
    font-size: 8px;
    line-height: 16px;
  }
}