* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}
.App {
  overflow: hidden;
}
body {
  background: linear-gradient(180deg, #b3f2dd 0%, #ffffff 40%);
}
a {
  text-decoration: none;
  color: unset;
}
